*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.pos{
    position: fixed;
    right: 10px;
    bottom: 10px;
    display: flex;
    flex-direction: column;
}

.container{
   background-color: whitesmoke;
   background-image: url(./images/back-3.jpg);
   background-size: cover;
   
}
.nav{
    padding: 15px;
    display: flex;
    justify-content: space-between;
    background-color: lightcyan;
    height: 60px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    align-items: center;
    width: 100%;
    position: sticky;
    top: 0px;
   
   
}

.menus {
    width: 50%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    right: 10px;
    transition: all 700ms;
}
.nav a{
    font-size:large ;
    text-decoration: none;
    color: darkgreen;

}
.nav ul{
   display: flex;
   justify-content: space-around;
}

.nav li:hover{
   /* background-color: black; */
   scale: 1.5;
   color: antiquewhite;
}
.nav a:hover{
    color: greenyellow;
    scale: 1.2;
}
.nav img{
    border-radius:35px;
}
.nav1{
    /* text-align: center; */
    /* margin-top: 20px; */
}


.container2{
    display: flex;
    padding: 5px;
    color: #3e1807;
    justify-content: space-around;
    padding-top: 30px;
    background-color: lightgreen;
}
.nav1{
    width: 50%;
    padding-top: 50px;
    font-size: large;
}
.container6{
    display: flex;
    padding: 10px;
    color: #3e1807;
    justify-content: space-around;
    padding-top: 30px;
    background-color: lightsalmon;
}
.nav2{
    width: 50%;
    padding-top: 50px;
    font-size: large;
    
}

.nav1 button{
    text-align: center;
    margin-top: 20px;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: blueviolet;
    color:whitesmoke;
}

.innerheading{
     color: rgb(140, 8, 8);
     text-align: center;
}
.container3{
    display: flex;
    justify-content: space-around;
    background-color: lightgray;
    padding-top: 30px;
}

.title{
    width: 200px;
    height: 150px;
    text-align: center;
    padding: 10px;
    border: 2px blue;
    background-color: lightgreen;
    border-radius: 10px;
    margin: 15px;
    transition: 700ms;
}
.midder{
    text-align: center;
    padding: 20px;
    color:blanchedalmond;
    font-size: x-large;
    background-color: #8d0707;
    
}
.title:hover{
    scale: 1.5;
    background-color: sandybrown;
    box-shadow: 4px 4px 8px 4px;
}
.container4{
   
    padding: 30px;
    display: flex;
    justify-content: center;
   
    background-color: rgb(120, 128, 136);
    
}
.box-l{
    margin-top: 30px;
    margin: 40px;
    padding: 20px;
    display: flex;
    width: 400px;
    background-color: #8d0707;
    color: antiquewhite;
    border-radius: 10px;
    transition: 750ms;
   
}
.right-box{
    margin-top: 25px;
}
.box-r{
    margin-top:  30px;
    margin: 40px;
    padding: 20px;
    display: flex;
    width: 400px;
    background-color: #8d0707;
    color: antiquewhite;
    border-radius: 10px;
    transition: 750ms;
    
}
.box-l img{
    border-radius: 20px;
}
.box-r img{
    border-radius: 20px;
    margin-right: 30px;
    
}
.box-l:hover{
    background-color: black;
    box-shadow: 2px 2px 5px 2px;
}
.box-r:hover{
    background-color: black;
    box-shadow: 2px 2px 8px 4px;
}
.container-5{
    display: flex;
    justify-content: space-between;
    padding: 50px;
    background-color: lightgray;
    background-image: url(./images/back-2.jpg);
    background-size: cover;
    font-size: 20px;
    
    
    
}
.contact{
    transition: 800ms;
    
}
.linkes{
    text-decoration: none;
    color: #c73e0876;
}
.linkes:hover{
   color: sandybrown;
}
.contact h3{
    padding: 10px;
    margin: 10px;
}
.contact:hover{
    background-color: black;
    color: sandybrown;
    padding:10px;
    border-radius: 10px;
    height: auto;
    
}
.midder2{
    text-align: center;
    color: whitesmoke;
    font-size: x-large;
    background-color: #8d0707;
    padding: 20px;
}
.midder2 {
    border: none;
    padding: 10px;
}
.menubtn{
    width: 65px;
    height: 50px;
    padding: 10px;
   background-color:white;
   border-radius: 10px;
   border: none;
   display: none;
}
.menus{
  display: flex;
}
.footer{
    display: flex;
    justify-content: space-around;
    background-color: #8d0707;
    color: blanchedalmond;
}


@media only screen and (min-width:300px) and (max-width:780px){
    .container2{ 
        flex-direction:column-reverse;
        justify-content: center;
        align-items: center;
        padding: 25px;
    }
    .nav1{
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
    .nav1 p{
        width: 600px;
        height: 400px;
        overflow: hidden;
    }
    .nav1 button{
        position: relative;
        top: 200px;

    }
    .nav1 h1{
        position: absolute;
        top: 300px;
        left: 100px;
        font-size:120px;
        color: lightgoldenrodyellow;
    }
    .nav1 img{
        width: 50%;
    }
    .container6{ 
        flex-direction:column;
        justify-content: center;
        align-items: center;
        padding: 25px;
    }
    .nav2{
        width: 100%;
        
    }
    .nav2 p{
        width: 600px;
        height: 400px;
        overflow: hidden;
        /* text-align: center; */
        position: relative;
        left: 150px;
        font-size: xx-large;
    }
    .nav2 hr{
        display: none;
    }
    .container6 img{
       display: none;
    }
    .menus{
        width: fit-content;
        position: absolute;
        right: 0px;
        top: 80px;
        flex-direction: column;
        margin-right: 10px;
        background-color:lightcyan;
        padding: 20px;
        display: none;
    }
    .menubtn{
        display: flex;
        font-size: larger;
        border:1px solid #3e1807;
    }
    .menus a{
        color:#8d0707;
        margin: 20px;
        font-size: x-large;
    }
    .container2 img{
        /* display: none; */
    }
   
    .container{
        width:fit-content;
        height:min-content;
        position: relative;
        justify-content: space-between;
    }
    .nav{
        position: relative;
        justify-content: space-between;
        font-size: x-large;
        align-items: center;
        height: 90px;
        padding-top: 25px;
       
    }
    .nav h1{
        padding-top: 8px;
       
    }
    .nav li{
       margin-bottom: 20px;
    }
    .nav1 p{
        font-size: xx-large;
    }
    .midder{
        
        font-size: xx-large;
    }
    .container3{
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }
    .title{
        width:100%;
        font-size: xx-large;
        overflow:scroll;
        padding: 20px;
        transition: none;
    }
    .title:hover{
        scale: 0;
    }
    .container4{
        font-size: larger;
        flex-direction: column;
        align-items: center;

    }
    
    .midder2{
        font-size:xx-large;
        color: aquamarine;
    }
    .container-5{
        flex-direction: column;
        align-items: center;
        font-size: xx-large;
        padding: 20px;
    }
    .container-5 h3{
        color: #8d0707;
        box-shadow: 2px 1px 2px 2px ;
    }
    .contact{
        margin: 10px;
        padding: 10px;
        border: 2px solid darkslategrey;
        border-radius: 10px;
    }
    
}
@media only screen and (min-width:780px) and (max-width:960px){
    .container{
        width: fit-content;
    }
}
